// These colors are specific to the theme. Do not use in a package!

@very-light-gray:   #b5d7ff;
@light-gray:        #7ebdd5;
@gray:              #373b41;
@dark-gray:         #282a2e;
@very-dark-gray:    #162239;

@green:             #00ffba;
@teal:              #009688;
@light-teal:        #73d1c8;
@cyan:              #89DDF3;
@blue:              #82AAFF;
@indigo:            #7986CB;
@purple:            #6900ff;
@pink:              #487cd5;
@red:               #00d1ff;
@strong-orange:     #ff006b;
@orange:            #0040ff;
@light-orange:      #FFE082;
